html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body {
	line-height: normal;
	font-family: "Roboto Mono", monospace;
	letter-spacing: -0.013em
}

.header-nav,
.single-nav {
	padding: 50px 40px;
	width: 240px;
	position: fixed;
	top: 0;
	left: 20px;
	z-index: 3;
	overflow-y: auto
}

.header-nav .logo,
.single-nav .logo {
	margin-left: 2em;
	margin-bottom: 50px;
	width: 97px;
	height: 54px;
	background: url("../img/svg/hoc-icon-color.svg") no-repeat;
	display: block
}



.header-nav .nav-item,
.single-nav .nav-item {
	margin-top: 25px;
	color: #515f6d;
	font-size: 18px
}

.header-nav .nav-item:before {
	width: 2em;
	float: left;
	font-weight: 400;
	font-size: inherit;
	opacity: 0.6
}

.header-nav .menu .nav-item:before {
	content: "0" counter(item);
	counter-increment: item
}


.header-nav .nav-link,
.single-nav .nav-link {
	display: block;
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	overflow: hidden
}

.header-nav .nav-link:hover,
.single-nav .nav-link:hover {
	color: #6696ac
}

.header-nav .menu,
.single-nav .menu {
	counter-reset: item
}

a {
	color: #6696ac;
	font-weight: 700;
	text-decoration: underline;
	transition: color 200ms
}

.mainWrapper {
  position: relative;
  left: 240px;

  max-width: 100%;

}

.landingSection {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 50px;
  margin-left: 240px;
  overflow: hidden;

  color: #000;
	font-weight: 400;
	font-size: 15px;
	line-height: normal;

}

h1 {
  font-size: 40px;
  margin-left: 9%;
  color: #515f6d;
	font-weight: 700;
}


.landingSection h2 {
	margin-bottom: 20px;
	color: #515f6d;
	font-weight: 400;
	font-size: 22px
}

.landingSection h3 {
  margin-left: 10%;
  color: #515f6d;
  	font-weight: 400;
  	font-size: 18px
}

.landingSection p {
  margin-bottom: 1.7em;
  line-height: 1.7;
  margin-left: 10%;
  margin-right: 10%;
}

farverBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.farveSection h1 {
  font-size: 40px;
  margin-left: 370px;
  color: #515f6d;
	font-weight: 700;

}
.farveSection .color {
  margin: 14px 0px;
  width: 65%;
  height: 120px;
  display: flex;
  flex-direction: row;
    margin-left: 370px;
  margin-right: 10%;
  border-radius: 15px;
}

.colorInfo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 10%;
  align-items: center;
}

.colorInfo div:first-child {
  margin-right: 50px;
}

.white div p {
  color: white;
  font-size: 20px;
  margin-left: 0%;
}

.black div p {
  color: black;
  font-size: 20px;
  margin-left: 0%;
}
/* --- Knapper section  --- */


.knapperBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}

.knapperSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.knapperSection h1 {
  margin-top: 60px;
  margin-bottom: 3%;
  font-size: 40px;
  width: 100%;
}

.knapperSection article {
  width: 35%;
}

.knapperSection article h2 {
  margin: 10px 0;
  font-size: 40px;
}

.knapperSection article h3 {
}

.knapperSection article hr {
  width: 60%;
  margin: 10px 0;
}

.knapperSection article p {
  font-size: 20px;
  margin: 10px 0;
}


/* atomic Knapper */

.atomicknapper {
  width: 70%;
  margin-left: 5%;
  margin-top: 1%;
}

.knapperBorder .atomicheaderknapper {
  font-size: 20px;
  margin-left: 5%;
  margin-top: 5%;
}




/*CODE SNIPPETS*/

.knapperSection .ptools {
  width: 40%;
  margin-left: -5%;
}

.knapperSection .ptools h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 20%;
}

.knapperSection .ptools h3 {
  margin-left: 20%;

}

.knapperSection .ptools hr {
  width: 100%;
  margin-left: 20%;
}

.knapperSection .ptools p {
  font-size: 20px;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 75%;
}

.codeEmbed code {
  font-size: 20px;
}

.knapperBorder{
  margin-left: 340px;
  margin-top: 150px;
}

.knapperborder h1 {
  margin-left: 340px;
}


.Grafik{
  margin-left: 240px;
}

/* --- Typografi  --- */

.typoBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
    margin-top: 150px;
}


.typoSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}

.typoSection h1 {
  font-size: 40px;
  margin-left: 9%;
  color: #515f6d;
	font-weight: 700;
}

.typoSection article {
  width: 35%;
}

.typoSection article h2 {
  margin-bottom: 20px;
  color: #515f6d;
  font-weight: 400;
  font-size: 22px
}

.typoSection article h3 {
  margin-left: 10%;
  color: #515f6d;
    font-weight: 400;
    font-size: 18px
}

.typoSection article hr {
  width: 60%;
}

.typoSection article p {
  margin-bottom: 1.7em;
  line-height: 1.7;
  margin-left: 10%;
  margin-right: 10%;
}




/*CODE SNIPPETS*/

.typoSection .ptools {
  width: 40%;
  margin-left: -5%;
}

.typoSection .ptools h2 {
  margin-bottom: 20px;
  color: #515f6d;
  font-weight: 400;
  font-size: 22px;
  margin-left: 85px;
}

.typoSection .ptools h3 {
  margin-left: 10%;
  color: #515f6d;
    font-weight: 400;
    font-size: 18px
}

.typoSection .ptools hr {
  width: 100%;
  margin: 10px 0;
  margin-left: 20%;
}

.typoSection .ptools p {
  margin-bottom: 1.7em;
  line-height: 1.7;
  margin-left: 10%;
  margin-right: 10%;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 75%;
  }

.codeEmbed code {
  font-size: 20px;
}

/* ---  Navigation  --- */

.navigation{
  margin-left: 400px;
}

.navigationBorder {
    padding-bottom: 5%;
}


.navigationSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #121B2E;
  margin-left: 5%;
  font-family: proxima-nova, sans-serif;
  margin-top: 5%;
}

.navigationSection h1 {
  margin-top: 60px;
  margin-bottom: 5%;
  font-size: 40px;
  width: 100%;
  color: #fff;
}

.navigationSection p {
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.navigationSection article {
  width: 35%;
}

.navigationSection article h2 {
  color: #fff;
  margin-top: 5%;
  font-size: 40px;
}

.navigationSection article h3 {
  color: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  text-decoration: none;
}

.navigationSection article a {
  font-size: 16px;
  color: white;
}


/*CODE SNIPPETS*/

.navigationSection .ptools {
  width: 40%;
  margin-left: -5%;
}

.navigationSection .ptools h2 {
  color: white;
  font-size: 40px;
  margin-left: 20%;
  margin-top: 60px;
}

.navigationSection .ptools h3 {
  color: white;
  margin-left: 20%;
  margin-top: 5%;

}

.navigationSection .ptools hr {
  width: 100%;
  margin: 10px 0;
  margin-left: 20%;
}

.navigationSection .ptools p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.codeEmbed {
  position: relative;
  padding: 20px;
  border-left: 3px solid #9CD9B9;
  background-image: linear-gradient(to right, rgb(236, 236, 236), white);
  margin-bottom: 40px;
  margin-left: 20%;
  width: 75%;
}

.codeEmbed code {
  font-size: 20px;
}
