html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body {
	line-height: normal;
	font-family: "Roboto Mono", monospace;
	letter-spacing: -0.013em
}

.header-nav,
.single-nav {
	padding: 50px 40px;
	width: 240px;
	position: fixed;
	top: 0;
	left: 20px;
	z-index: 3;
	overflow-y: auto
}

.header-nav .logo,
.single-nav .logo {
	margin-left: 2em;
	margin-bottom: 50px;
	width: 97px;
	height: 54px;
	background: url("../img/svg/hoc-icon-color.svg") no-repeat;
	display: block
}



.header-nav .nav-item,
.single-nav .nav-item {
	margin-top: 25px;
	color: #515f6d;
	font-size: 18px
}

.header-nav .nav-item:before {
	width: 2em;
	float: left;
	font-weight: 400;
	font-size: inherit;
	opacity: 0.6
}

.header-nav .menu .nav-item:before {
	content: "0" counter(item);
	counter-increment: item
}


.header-nav .nav-link,
.single-nav .nav-link {
	display: block;
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	overflow: hidden
}

.header-nav .nav-link:hover,
.single-nav .nav-link:hover {
	color: #6696ac
}

.header-nav .menu,
.single-nav .menu {
	counter-reset: item
}

a {
	color: #6696ac;
	font-weight: 700;
	text-decoration: underline;
	transition: color 200ms
}

.mainWrapper {
  position: relative;
  left: 240px;

  max-width: 100%;

}

.landingSection {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 50px;
  margin-left: 240px;
  overflow: hidden;

  color: #000;
	font-weight: 400;
	font-size: 15px;
	line-height: normal;

}

h1 {
  font-size: 40px;
  margin-left: 10%;
  color: #515f6d;
	font-weight: 700;
}


.landingSection h2 {
	margin-bottom: 20px;
	color: #515f6d;
	font-weight: 400;
	font-size: 22px
}

.landingSection h3 {
  margin-left: 10%;
  color: #515f6d;
  	font-weight: 400;
  	font-size: 18px
}

.landingSection p {
  margin-bottom: 1.7em;
  line-height: 1.7;
  margin-left: 10%;
  margin-right: 10%;
}

farverBorder {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
}


.farveSection h1 {
  font-size: 40px;
  color: #515f6d;
	font-weight: 700;

}
.farveSection .color {
  margin: 14px 0px;
  width: 65%;
  height: 120px;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.colorInfo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 10%;
  align-items: center;
  margin-left: 10%;
}

.colorInfo div:first-child {
  margin-right: 50px;
}

.white div p {
  color: white;
  font-size: 20px;
  margin-left: 0%;
}

.black div p {
  color: black;
  font-size: 20px;
  margin-left: 0%;
}
